RewriteEngine On

# AUTORISER l'accès à tous les fichiers
<Files "*">
    Require all granted
</Files>

# Désactiver la protection des répertoires
Options +Indexes

# Rediriger vers la page d'accueil si l'URL est vide
RewriteRule ^$ app/views/quiz/index.php [L]

# Autoriser l'accès direct à tous les fichiers PHP
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]